# Refresh cache for particular file types (here css and js)
# <filesMatch ".(css|js)$">
# Header set Cache-Control "max-age=0, public"
# </filesMatch>

RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !(.*)/$
# Redirect everything to http and trailing slash
RewriteRule ^(.*)$ http://%{HTTP_HOST}/$1/ [L]
# Redirect everything to https and trailing slash
# RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1/ [L]

# Determine the RewriteBase automatically and set it as environment variable.
# If you are using Apache aliases to do mass virtual hosting or installed the
# project in a subdirectory, the base path will be prepended to allow proper
# resolution of the index.php file and to redirect to the correct URI. It will
# work in environments without path prefix as well, providing a safe, one-size
# fits all solution.
RewriteCond %{REQUEST_URI}::$1 ^(/.+)/(.*)::\2$
RewriteRule ^(.*) - [E=W_BASE:%1]

# No rewrite on real files
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule .? - [L]

# Rewrites everything else to htdocs/index.php.
RewriteRule .? %{ENV:W_BASE}/index.php [L]
